<template>
  <div id="test">
    <ServerComponent></ServerComponent>
    <button v-on:click="greet">test</button>
    <p> universe: {{server}} </p>
  </div>
</template>

<script>
import QueryData from "@totemVue/index.js";
import Queries from "../area/queries";
import ServerComponent from "./Server";

export default {
  name: "Nyaniverse",
  mixins: [QueryData(Queries.universe, 'server')],
  components: {
    ServerComponent
  },
  methods: {
    greet() {
      alert(this.server);
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
