<template>
  <div>
    <p> serverUrl: {{serverUrl}}</p>
  </div>
</template>

<script>
import WebQueries from "@area/web.js";
import QueryData from "@totemVue/index.js";

export default{
  name: "ServerComponent",
  mixins: [QueryData(WebQueries.webServer, 'serverUrl')],
  components: {
  },
  methods: {
    //greet() {
      //alert(this.serverSelected);
    //}
  }
}
</script>

<style scoped>
</style>
