<template>
  <div id="q-app">
    <q-card
      v-touch-swipe.mouse.right="handleSwipe"
      class="custom-area cursor-pointer bg-primary text-white shadow-2 relative-position row flex-center"
    >
      <div v-if="info" class="custom-info">
        <pre>{{ info }}</pre>
      </div>
      <div v-else>
        Swipe to right only
        <q-icon name="arrow_forward"></q-icon>
      </div>
    </q-card>
    <div v-ripple>Click me. I got ripples.</div>
    <Universe ref="Universe">
    </Universe>
    <Hello-World msg="Welcome to Your Bar-B-Que">
    </Hello-World>
    <img alt="Vue logo" src="./assets/logo.png" />
  </div>
</template>

<script>
import Timeline from "@totemTimeline/index.js";
import HelloWorld from "./components/HelloWorld.vue";
import Universe from "./components/NyanApp.vue";
import Queries from "./area/queries";
import QueryHub from '@totemSignalr/index.js';
import '@area/topics.js';
import '@area/queries.js';
import '@area/web.js';

export default {
  name: "App",
  components: {
    'Hello-World': HelloWorld,
    Universe
  },
  methods: {
    handleSwipe ({ evt, ...info }) {
      this.info = info
      Timeline.append('selectServer', {name: 'Testing web query.'});
      // native Javascript event
      // console.log(evt)
    },    
  },
  data() {
    return {
      info: "Swipe Right"
    }
  },
  mounted() {
    Timeline.console.enable();
    QueryHub.enable('localhost:5000/hubs/query');
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.custom-area{
  width: 90%;
  height: 220px;
  border-radius: 3px;
  padding: 8px;
}

.custom-info pre{
  width: 180px;
  font-size: 12px;
}
</style>
